vim.ln/plugged/*
vim.ln/.netrwhist
zsh/oh-my-zsh.ln/themes/bullet*
tmux.ln/plugins/*
tmux.ln/resurrect
!tmux.ln/plugins/tpm
ssh.ln/known_hosts
zsh/zprezto.ln
procmail.ln/log
cargo.ln
!cargo.ln/config
