# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
vim.symlink/bundle/*
!vim.symlink/bundle/Vundle.vim
tmux.symlink/plugins/*
tmux.symlink/resurrect
!tmux.symlink/plugins/tpm
ssh.symlink/known_hosts
