[submodule "zsh/bullet-train-oh-my-zsh-theme"]
	path = zsh/bullet-train-oh-my-zsh-theme
	url = https://github.com/caiogondim/bullet-train-oh-my-zsh-theme.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux.symlink/plugins/tpm"]
	path = tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "fonts.symlink/powerline-fonts"]
	path = fonts.symlink/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "colors.symlink/base16-shell"]
	path = colors.symlink/base16-shell
	url = https://github.com/JohnMorales/base16-shell.git
[submodule "vim.symlink/bundle/Vundle.vim"]
	path = vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
